version: 2.1
orbs: 
  kubernetes: circleci/kubernetes@1.3.0
workflows: null
jobs:
  create-update:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - kubernetes/install-kubectl
      - kubernetes/create-or-update-resource:
          get-rollout-status: true
          resource-file-path: tests/nginx-deployment/deployment.yaml
          resource-name: deployment/nginx-deployment
          show-kubectl-command: true
#workflows:
#  testing:
#    jobs:
#      - runner-test:
#          context: kaniko
#      - runner-test-1
#      - runner-test-2
#
#jobs:
#  runner-test:
#    machine: true
#    resource_class: abeyuki/circleci
 #   docker:
 #     - image: cimg/base:2021.11
 #       auth:
 #         username: abeyuki
 #         password: $DOCKERHUB_PASSWORD
#    steps:
#      - checkout
#      - run: 
#          name: "KUBECONFIG"
#          command: |
#            echo 'export PATH=/bin/bash:$PATH' >> $BASH_ENV
#            source $BASH_ENV
#            echo ${TEST}
#  runner-test-1:
#    docker:
#      - image: 'cimg/base:stable'
#    steps:
#      - checkout
#      - kubernetes/install-kubectl
#      - kubernetes/create-or-update-resource:
#          get-rollout-status: true
#          resource-file-path: tests/nginx-deployment/deployment.yaml
#          resource-name: deployment/nginx-deployment
#          show-kubectl-command: true