version: 2.1
orbs: 
  kubernetes: circleci/kubernetes@1.3.0
executors:
  default:
    docker:
      - image: 'cimg/base:stable'
commands:
  setup_kubectl:
    steps:
      - run:
          name: "kubectl install"
          command: |
              curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.24.0/bin/linux/arm64/kubectl
              chmod +x ./kubectl
              sudo mv ./kubectl /usr/local/bin/kubectl
              kubectl version --client
  setup_kubeconfig:
    steps:
      - run:
          name: "kubeconfig"
          command: |
              mkdir -p ~/.kube/
              echo -n "${KUBECONFIG_DATA}" | base64 -d > ~/.kube/config
              kubectl config use-context ${CONTEXT_NAME}

workflows:
  testing:
    jobs:
      - create-update:
          context: kaniko
      - status:
          context: kaniko
          requires:
            - create-update
      - delete:
          context: kaniko
          requires:
            - status

jobs:
  create-update:
    resource_class: abeyuki/circleci
    executor:
      name: default
    steps:
      - checkout
      - setup_kubectl
      - setup_kubeconfig
      - kubernetes/create-or-update-resource:
          kustomize: true
          resource-file-path: kubernetes/overlay/testing
          show-kubectl-command: true

  status:
    resource_class: abeyuki/circleci
    executor:
      name: default
    steps:
      - checkout
      - run:
          name: "status check"
          command: |
              while true ;do 
                  if [[ $(kubectl get pods -n testing-kakeibo --field-selector=status.phase=Running | awk 'NR>1 {print$3}') ==  Running* ]] ;then 
                      echo OK ; break 
                  else echo NG ; sleep 3 
                  fi
              done

  delete:
    resource_class: abeyuki/circleci
    executor:
      name: default
    steps:
      - checkout
      - setup_kubectl
      - setup_kubeconfig
      - kubernetes/delete-resource:
          kustomize: true
          now: true
          resource-file-path: kubernetes/overlay/testing
          wait: true